<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openshift -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openshift.presentation.OpenshiftModelWizardID"
            name="%_UI_OpenshiftModelWizard_label"
            class="openshift.presentation.OpenshiftModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenshiftModelFile.gif">
         <description>%_UI_OpenshiftModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openshift -->
      <editor
            id="openshift.presentation.OpenshiftEditorID"
            name="%_UI_OpenshiftEditor_label"
            icon="icons/full/obj16/OpenshiftModelFile.gif"
            extensions="openshift"
            class="openshift.presentation.OpenshiftEditor"
            contributorClass="openshift.presentation.OpenshiftActionBarContributor">
      </editor>
   </extension>

</plugin>
