<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openshift -->
      <package
            uri="http://www.example.org/openshift"
            class="openshift.OpenshiftPackage"
            genModel="model/openshift.genmodel"/>
   </extension>

</plugin>
