<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="Tooling Diagram Type"
            type="OpenShift"
            id="tooling.OpenShiftDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="Tooling Diagram Type Provider"
            class="tooling.diagram.OpenShiftDiagramTypeProvider"
            id="tooling.OpenShiftDiagramTypeProvider">
         <diagramType
               id="tooling.OpenShiftDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   
   <!-- Sheet -->
   
   <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="OpenShift.PropertyContributor"> 
        <propertyCategory category="Graphiti"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="OpenShift.PropertyContributor">
   <propertyTab
         category="Graphiti"
         id="graphiti.main.tab"
         label="Main">
    </propertyTab>
   </propertyTabs>
</extension>
     
<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="OpenShift.PropertyContributor">
        <propertySection
              class="tooling.tab.template.OpenShiftTemplateSection"
              filter="tooling.tab.template.OpenShiftTemplateFilter"
              id="graphiti.main.tab.emfclass"
              tab="graphiti.main.tab">
        </propertySection>
    </propertySections>
</extension>

</plugin>
